.Login {
  position: fixed;
  margin-left: 35%;
  margin-right: 35%;
  align-items: center;
  display: flex;
  color: white;
  background-color: rgba(50, 0, 50, 0.99);
  flex-flow: column;
  justify-content: center;
  width: 30vw;
  height: 30vh;
  z-index: 4;
}

.login-form {
  width: 50vw;
  padding: 2em;
}

.login-form > input {
  width: 25%;
}
